USE [master]
GO
/****** Object:  Database [Proel2D]    Script Date: 07/09/2025 2:36:10 am ******/
CREATE DATABASE [Proel2D]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Proel2D', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Proel2D.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Proel2D_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Proel2D_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Proel2D].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Proel2D]
GO
/****** Object:  Table [dbo].[Profiles]    Script Date: 07/09/2025 2:36:10 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profiles](
	[ProfileID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[Gender] [nvarchar](50) NULL,
	[Phone] [int] NULL,
	[Address] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 07/09/2025 2:36:10 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleCode] [nvarchar](50) NULL,
	[RoleName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07/09/2025 2:36:10 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[RoleID] [int] NULL,
	[ProfileID] [int] NULL,
	[RoleCodeNumber] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([ProfileID])
REFERENCES [dbo].[Profiles] ([ProfileID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
/****** Object:  StoredProcedure [dbo].[SP_ForgotPassword]    Script Date: 07/09/2025 2:36:10 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ForgotPassword]
	-- Add the parameters for the stored procedure here
	@Email NVARCHAR(50),
	@Password NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF EXISTS(
        SELECT Email FROM Profiles
        WHERE Email = @Email
    )
    BEGIN
        SELECT 'Change Password Successfully' AS Message
	END
    BEGIN
        SELECT 'Email is not Registered' AS Message
	END

    -- Insert statements for procedure here
	UPDATE Users
    SET Users.Password = @Password
    FROM Users 
    INNER JOIN Profiles ON Users.ProfileID = Profiles.ProfileID
    WHERE Profiles.Email = @Email
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetStudents]    Script Date: 07/09/2025 2:36:10 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetStudents]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Profiles.ProfileID,
			Profiles.FirstName,
			Profiles.LastName, 
			Profiles.Age, 
			Profiles.Gender,
			Profiles.Phone,
			Profiles.Address,
			Profiles.Email,
			Profiles.Status,
			Users.RoleCodeNumber FROM Profiles 
	RIGHT JOIN Users
	ON Users.UserID = Profiles.ProfileID
	Where LEFT(Users.RoleCodeNumber,2) = 'ST'
	ORDER BY Profiles.ProfileID DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTeachers]    Script Date: 07/09/2025 2:36:10 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetTeachers]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Profiles.ProfileID,
			Profiles.FirstName,
			Profiles.LastName, 
			Profiles.Age, 
			Profiles.Gender,
			Profiles.Phone,
			Profiles.Address,
			Profiles.Email,
			Profiles.Status,
			Users.RoleCodeNumber FROM Profiles 
	RIGHT JOIN Users
	ON Users.UserID = Profiles.ProfileID
	Where LEFT(Users.RoleCodeNumber,2) = 'TH'
	ORDER BY Profiles.ProfileID DESC

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Login]    Script Date: 07/09/2025 2:36:10 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Login]
	-- Add the parameters for the stored procedure here
	@Username NVARCHAR(50),
	@Password NVARCHAR(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF EXISTS (
		SELECT 1 FROM Users
		WHERE Username = @Username AND Password = @Password
	)
	BEGIN 
		SELECT 'Login Successful' AS Message,
		Username,
		Password,
		LEFT(RoleCodeNumber,2) AS RoleCode
		FROM Users
		WHERE Username = @Username AND Password = @Password
	END
	BEGIN
		SELECT 'Incorrect Username or Password' AS Message
	END

    -- Insert statements for procedure here

	SELECT Username, Password FROM Users
	WHERE Username = @Username AND Password = @Password

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Register]    Script Date: 07/09/2025 2:36:10 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Register]
	-- Add the parameters for the stored procedure here

	@RolePrefix NVARCHAR(50),
    @Username NVARCHAR(50),
    @Password NVARCHAR(50),
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Age INT,
    @Gender NVARCHAR(50),
    @Phone INT,
    @Address NVARCHAR(50),
    @Email NVARCHAR(50),
    @Status NVARCHAR(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON

	DECLARE @RoleNumber INT
    DECLARE @RoleCodeNumber NVARCHAR(50)
    DECLARE @RoleName NVARCHAR(50)
    DECLARE @ProfileID INT
    DECLARE @RoleID INT
    DECLARE @UserID INT

    IF @RolePrefix = 'ST'
        SET @RoleName = 'Student'
    ELSE IF @RolePrefix = 'AD'
        SET @RoleName = 'Admin'
    ELSE IF @RolePrefix = 'TH'
        SET @RoleName = 'Teacher'

    -- Get the RoleID based on RoleName
    SELECT @RoleID = RoleID
    FROM Roles
    WHERE RoleName = @RoleName

    IF EXISTS (SELECT 1 FROM Users WHERE RoleCodeNumber LIKE @RolePrefix + '-%')
    BEGIN
        SELECT @RoleNumber = MAX(CAST(SUBSTRING(RoleCodeNumber, CHARINDEX('-', RoleCodeNumber) + 1, LEN(RoleCodeNumber)) AS INT))
        FROM Users
        WHERE RoleCodeNumber LIKE @RolePrefix + '-%'

        SET @RoleNumber = @RoleNumber + 1
    END
    ELSE
    BEGIN
        SET @RoleNumber = 1
    END

    SET @RoleCodeNumber = @RolePrefix + '-' + CAST(@RoleNumber AS NVARCHAR)

    INSERT INTO Profiles (FirstName, LastName, Age, Gender, Phone, Email, Status, Address)
    VALUES (@FirstName, @LastName, @Age, @Gender, @Phone, @Email, @Status, @Address)

    SET @ProfileID = SCOPE_IDENTITY()

    INSERT INTO Users (Username, [Password], RoleID, RoleCodeNumber, ProfileID)
    VALUES (@Username, @Password, @RoleID, @RoleCodeNumber, @ProfileID)

    SET @UserID = SCOPE_IDENTITY()

    SELECT @UserID AS UserID, @ProfileID AS ProfileID

END
GO
USE [master]
GO
