USE [Proel2D]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddCourse]    Script Date: 13/09/2025 9:33:45 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[SP_AddCourse]
	-- Add the parameters for the stored procedure here



AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here


	SELECT CourseID, CourseName,CourseCode, Description, Credits
	FROM Courses
	ORDER BY Courses.CourseID DESC
	

END
