USE [Proel2D]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteStudent]    Script Date: 22/09/2025 11:37:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_DeleteStudent]
    @StudentID INT
AS
BEGIN
    SET NOCOUNT ON

    DECLARE @ProfileID INT

    SELECT @ProfileID = ProfileID 
    FROM Students
    WHERE StudentID = @StudentID

    DELETE FROM Enrollments
    WHERE StudentID = @StudentID

    DELETE FROM Users
    WHERE ProfileID = @ProfileID

    DELETE FROM Students
    WHERE StudentID = @StudentID

    DELETE FROM Profiles
    WHERE ProfileID = @ProfileID
END