USE [Proel2D]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteSubject]    Script Date: 22/09/2025 11:39:31 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_DeleteSubject]
	@CourseID INT
AS
BEGIN
	DELETE Enrollments
	WHERE CourseID = @CourseID

	DELETE FROM Courses
	WHERE CourseID = @CourseID
END