USE [Proel2D]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteTeacher]    Script Date: 22/09/2025 11:40:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_DeleteTeacher]
    @TeacherID INT
AS
BEGIN
    SET NOCOUNT ON

    DECLARE @ProfileID INT

    SELECT @ProfileID = ProfileID 
    FROM Teachers
    WHERE TeacherID = @TeacherID

    UPDATE Courses
    SET TeacherID = NULL   
    WHERE TeacherID = @TeacherID

    DELETE FROM Users
    WHERE ProfileID = @ProfileID

    DELETE FROM Teachers
    WHERE TeacherID = @TeacherID

    DELETE FROM Profiles
    WHERE ProfileID = @ProfileID
END