USE [Proel2D]
GO
/****** Object:  StoredProcedure [dbo].[SP_ForgotPassword]    Script Date: 22/09/2025 11:41:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[SP_ForgotPassword]
	-- Add the parameters for the stored procedure here
	@Email NVARCHAR(50),
	@Password NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF EXISTS(
        SELECT Email FROM Profiles
        WHERE Email = @Email
    )
    BEGIN
        SELECT 'Change Password Successfully' AS Message
	END
    BEGIN
        SELECT 'Email is not Registered' AS Message
	END

    -- Insert statements for procedure here
	UPDATE Users
    SET Users.Password = @Password
    FROM Users 
    INNER JOIN Profiles ON Users.ProfileID = Profiles.ProfileID
    WHERE Profiles.Email = @Email
END
