USE [Proel2D]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetStudentsFromTeacher]    Script Date: 22/09/2025 11:57:02 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GetStudentsFromTeacher]
    @TeacherID INT
AS
BEGIN
    SELECT 
        e.StudentID,
        c.CourseName,
        CONCAT(p.FirstName, ' ', p.LastName) AS StudentName,
        p.Status,
        p.RoleCodeNumber
    FROM Teachers t
    INNER JOIN Courses c ON t.TeacherID = c.TeacherID
    INNER JOIN Enrollments e ON c.CourseID = e.CourseID
    INNER JOIN Students s ON e.StudentID = s.StudentID
    INNER JOIN Profiles p ON s.ProfileID = p.ProfileID
    WHERE t.TeacherID = @TeacherID
    ORDER BY c.CourseName, StudentName
END