USE [Proel2D]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetActiveTeacher]    Script Date: 22/09/2025 11:50:33 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GetActiveTeacher]
AS
BEGIN
    SELECT Teachers.TeacherID,
			Teachers.HireDate,
			Teachers.DepartmentID,
			Profiles.FirstName,
			Profiles.LastName, 
			Profiles.Age, 
			Profiles.Gender,
			Profiles.Phone,
			Profiles.Address,
			Profiles.Email,
			Profiles.Status,
			Profiles.RoleCodeNumber FROM Teachers 
	LEFT JOIN Profiles
	ON Teachers.ProfileID = Profiles.ProfileID
    WHERE Profiles.Status = 'Active'
	ORDER BY Teachers.TeacherID DESC
END