USE [Proel2D]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTeachers]    Script Date: 07/09/2025 2:22:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[SP_GetTeachers]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Teachers.TeacherID,
			Teachers.HireDate,
			Teachers.DepartmentID,
			Profiles.FirstName,
			Profiles.LastName, 
			Profiles.Age, 
			Profiles.Gender,
			Profiles.Phone,
			Profiles.Address,
			Profiles.Email,
			Profiles.Status,
			Profiles.RoleCodeNumber FROM Teachers 
	LEFT JOIN Profiles
	ON Teachers.ProfileID = Profiles.ProfileID
	ORDER BY Teachers.TeacherID DESC

END
