USE [Proel2D]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetStudents]    Script Date: 07/09/2025 2:24:36 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[SP_GetStudents]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Profiles.ProfileID,
			Profiles.FirstName,
			Profiles.LastName, 
			Profiles.Age, 
			Profiles.Gender,
			Profiles.Phone,
			Profiles.Address,
			Profiles.Email,
			Profiles.Status,
			Users.RoleCodeNumber FROM Profiles 
	RIGHT JOIN Users
	ON Users.UserID = Profiles.ProfileID
	Where LEFT(Users.RoleCodeNumber,2) = 'ST'
	ORDER BY Profiles.ProfileID DESC
END
