USE [Proel2D]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetActiveStudent]    Script Date: 22/09/2025 11:48:44 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GetActiveStudent]
AS
BEGIN
    SELECT Students.StudentID,
			Students.EnrollmentDate,
			Profiles.FirstName,
			Profiles.LastName, 
			Profiles.Age, 
			Profiles.Gender,
			Profiles.Phone,
			Profiles.Address,
			Profiles.Email,
			Profiles.Status,
			Profiles.RoleCodeNumber
			 FROM Students 
	LEFT JOIN Profiles
	ON Students.ProfileID = Profiles.ProfileID
    WHERE Profiles.Status = 'Active'
	ORDER BY Students.StudentID DESC
END