USE [Proel2D]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetStudentFromCourse]    Script Date: 22/09/2025 11:53:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GetStudentFromCourse]
    @CourseID INT
AS
BEGIN
    SELECT 
        e.StudentID,
        c.CourseName,
        CONCAT(p.FirstName, ' ', p.LastName) AS StudentName,
        p.Status,
        p.RoleCodeNumber,
        CONCAT(tp.FirstName, ' ', tp.LastName) AS TeacherName
    FROM Courses c
    INNER JOIN Teachers t ON c.TeacherID = t.TeacherID
    INNER JOIN Profiles tp ON t.ProfileID = tp.ProfileID
    INNER JOIN Enrollments e ON c.CourseID = e.CourseID
    INNER JOIN Students s ON e.StudentID = s.StudentID
    INNER JOIN Profiles p ON s.ProfileID = p.ProfileID
    WHERE c.CourseID = @CourseID
    ORDER BY c.CourseName, StudentName
END