USE [Proel2D]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetStudentCoursesAndTeacher]    Script Date: 22/09/2025 11:52:24 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GetStudentCoursesAndTeacher]
    @StudentID INT
AS
BEGIN
    SELECT 
        c.CourseName,
        c.CourseCode,
        CONCAT(tp.FirstName, ' ', tp.LastName) AS TeacherName
    FROM Enrollments e
    INNER JOIN Students s ON e.StudentID = s.StudentID
    INNER JOIN Profiles sp ON s.ProfileID = sp.ProfileID
    INNER JOIN Courses c ON e.CourseID = c.CourseID
    INNER JOIN Teachers t ON c.TeacherID = t.TeacherID
    INNER JOIN Profiles tp ON t.ProfileID = tp.ProfileID
    WHERE s.StudentID = @StudentID
END