USE [Proel2D]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAvTeacher]    Script Date: 13/09/2025 9:35:04 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GetAvTeacher]

AS 
BEGIN
SELECT CONCAT(Profiles.FirstName, ' ', Profiles.LastName) AS FullName
		FROM Teachers
		 LEFT JOIN Courses
			ON Teachers.TeacherID = Courses.TeacherID
		 LEFT JOIN Profiles
			ON Teachers.ProfileID = Profiles.ProfileID
		WHERE Courses.CourseName IS NULL

END