USE [Proel2D]
GO
/****** Object:  StoredProcedure [dbo].[SP_Register]    Script Date: 22/09/2025 11:57:53 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[SP_Register]
	-- Add the parameters for the stored procedure here

	@RolePrefix NVARCHAR(50),
    @Username NVARCHAR(50),
    @Password NVARCHAR(50),
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Age INT,
    @Gender NVARCHAR(50),
    @Phone INT,
    @Address NVARCHAR(50),
    @Email NVARCHAR(50),
    @Status NVARCHAR(50),
    @EnrollmentDate DATETIME NULL,
    @DepartmentName NVARCHAR(50) NULL,
    @HireDate DATETIME NULL,
    @CourseName NVARCHAR(100) NULL,
    @TermName NVARCHAR(50) NULL

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON

	DECLARE @RoleNumber INT
    DECLARE @RoleCodeNumber NVARCHAR(50)
    DECLARE @RoleName NVARCHAR(50)
    DECLARE @ProfileID INT
    DECLARE @RoleID INT
    DECLARE @UserID INT
    DECLARE @StudentID INT
    DECLARE @TeacherID INT
    DECLARE @DepartmentID INT
    DECLARE @CourseID INT
    DECLARE @SemesterID INT
    DECLARE @EnrollmentID INT

    IF @RolePrefix = 'ST'
        SET @RoleName = 'Student'
    ELSE IF @RolePrefix = 'AD'
        SET @RoleName = 'Admin'
    ELSE IF @RolePrefix = 'TH'
        SET @RoleName = 'Teacher'

    -- Get the RoleID based on RoleName
    SELECT @RoleID = RoleID
    FROM Roles
    WHERE RoleName = @RoleName

    SELECT @CourseID = CourseID
    FROM Courses
    WHERE CourseName = @CourseName

    SELECT @SemesterID = SemesterID
    FROM Semesters
    WHERE TermName = @TermName

    IF @RolePrefix = 'TH'
    BEGIN
        SELECT @DepartmentID = DepartmentID
        FROM Departments
        WHERE DepartmentName = @DepartmentName
    END

    IF EXISTS (SELECT 1 FROM Profiles WHERE RoleCodeNumber LIKE @RolePrefix + '-%')
    BEGIN
        SELECT @RoleNumber = MAX(CAST(SUBSTRING(RoleCodeNumber, CHARINDEX('-', RoleCodeNumber) + 1, LEN(RoleCodeNumber)) AS INT))
        FROM Profiles
        WHERE RoleCodeNumber LIKE @RolePrefix + '-%'

        SET @RoleNumber = @RoleNumber + 1
    END
    ELSE
    BEGIN
        SET @RoleNumber = 1
    END

    SET @RoleCodeNumber = @RolePrefix + '-' + CAST(@RoleNumber AS NVARCHAR)

    INSERT INTO Profiles (FirstName, LastName, Age, Gender, Phone, Email, Status, Address, RoleCodeNumber)
    VALUES (@FirstName, @LastName, @Age, @Gender, @Phone, @Email, @Status, @Address, @RoleCodeNumber)

    SET @ProfileID = SCOPE_IDENTITY()

    INSERT INTO Users (Username, [Password], RoleID, ProfileID)
    VALUES (@Username, @Password, @RoleID, @ProfileID)

    SET @UserID = SCOPE_IDENTITY()

    IF @RolePrefix = 'ST'
    BEGIN
        INSERT INTO Students (ProfileID, EnrollmentDate)
        VALUES (@ProfileID, @EnrollmentDate)

        SET @StudentID = SCOPE_IDENTITY()

        INSERT INTO Enrollments(StudentID, CourseID, SemesterID)
        VALUES (@StudentID, @CourseID, @SemesterID)

        SET @EnrollmentID = SCOPE_IDENTITY()
    END

    IF @RolePrefix = 'TH'
    BEGIN
        INSERT INTO Teachers (ProfileID, HireDate, DepartmentID)
        VALUES (@ProfileID, @HireDate, @DepartmentID)

        SET @TeacherID = SCOPE_IDENTITY()
    END

    SELECT @UserID AS UserID, 
           @ProfileID AS ProfileID, 
           @StudentID AS StudentID, 
           @TeacherID AS TeacherID, 
           @EnrollmentID AS EnrollmentID 

END