USE [Proel2D]
GO
/****** Object:  StoredProcedure [dbo].[SP_StudentInCourse]    Script Date: 22/09/2025 11:58:03 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_StudentInCourse]
AS
BEGIN
SELECT Courses.CourseID,
    CONCAT(Profiles.FirstName, ' ', Profiles.LastName) AS FullName,
    Courses.CourseName
FROM Courses
INNER JOIN Enrollments
    ON Courses.CourseID = Enrollments.CourseID
INNER JOIN Students
    ON Enrollments.StudentID = Students.StudentID
INNER JOIN Profiles
    ON Students.ProfileID = Profiles.ProfileID;
END