USE [Proel2D]
GO
/****** Object:  StoredProcedure [dbo].[SP_TeacherInCourse]    Script Date: 22/09/2025 11:58:17 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_TeacherInCourse]
AS
BEGIN
SELECT Courses.CourseID,
		CONCAT(Profiles.FirstName, ' ', Profiles.LastName) AS FullName,
		Courses.CourseName
FROM Courses
INNER JOIN Teachers
ON Courses.TeacherID = Teachers.TeacherID
INNER JOIN Profiles
ON Teachers.ProfileID = Profiles.ProfileID
END