USE [Proel2D]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateTeacher]    Script Date: 23/09/2025 12:00:12 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_UpdateTeacher]
    @TeacherID INT,
    @HireDate DATE,
    @DepartmentID INT,
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Age INT,
    @Gender NVARCHAR(10),
    @Phone NVARCHAR(20),
    @Address NVARCHAR(255),
    @Email NVARCHAR(100),
    @Status NVARCHAR(20),
    @RoleCodeNumber NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON

    UPDATE Teachers
    SET HireDate = @HireDate,
        DepartmentID = @DepartmentID
    WHERE TeacherID = @TeacherID

    UPDATE Profiles
    SET FirstName = @FirstName,
        LastName = @LastName,
        Age = @Age,
        Gender = @Gender,
        Phone = @Phone,
        Address = @Address,
        Email = @Email,
        Status = @Status,
        RoleCodeNumber = @RoleCodeNumber
    WHERE ProfileID = (
        SELECT ProfileID
        FROM Teachers
        WHERE TeacherID = @TeacherID
    )
END