USE [Proel2D]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateStudent]    Script Date: 22/09/2025 11:59:19 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_UpdateStudent]
    @StudentID INT,
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Age INT,
    @Gender NVARCHAR(10),
    @Phone INT,
    @Address NVARCHAR(100),
    @Email NVARCHAR(100),
    @Status NVARCHAR(20),
    @RoleCodeNumber NVARCHAR(20),
    @EnrollmentDate DATETIME
AS
BEGIN
    SET NOCOUNT ON

    DECLARE @ProfileID INT

    SELECT @ProfileID = ProfileID FROM Students WHERE StudentID = @StudentID

    IF @ProfileID IS NULL
    BEGIN
        PRINT 'Student not found.'
        RETURN
    END

    UPDATE Profiles
    SET FirstName = @FirstName,
        LastName = @LastName,
        Age = @Age,
        Gender = @Gender,
        Phone = @Phone,
        Address = @Address,
        Email = @Email,
        Status = @Status,
        RoleCodeNumber = @RoleCodeNumber
    WHERE ProfileID = @ProfileID;

    UPDATE Students
    SET EnrollmentDate = @EnrollmentDate
    WHERE StudentID = @StudentID;

END