USE [Proel2D]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCourse]    Script Date: 22/09/2025 11:58:29 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_UpdateCourse]
    @CourseID INT,
    @CourseName NVARCHAR(100),
    @CourseCode NVARCHAR(50),
    @Description NVARCHAR(255),
    @Credits INT
AS
BEGIN
    SET NOCOUNT ON

    IF NOT EXISTS (SELECT 1 FROM Courses WHERE CourseID = @CourseID)
    BEGIN
        PRINT 'Course not found.'
        RETURN;
    END

    UPDATE Courses
    SET CourseName = @CourseName,
        CourseCode = @CourseCode,
        Description = @Description,
        Credits = @Credits
    WHERE CourseID = @CourseID

END